$primary-color: #c6191d;

a.nav-link.dropdown-toggle {
  margin-top: -4px;
}

.bg-dark-gray {
  border-color: #212121 !important;
  background-color: #212121 !important;
}

.map-responsive{
  overflow:hidden;
  padding-bottom: 400px;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.h250 {
  height: 250px;
}

#navigation {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 999;
}

.dropdown .dropdown-menu .dropdown-item, .mega-inner-nav > li > a {
  color: #4c4c4c;
}

.blockimg {
  width: 100%;
}

.cbp-pagination-item {
  height: 60px;

  img {
    height: 60px;
  }
}

.lead {
  font-weight: 900;
  color: #171314;
}

.title-heading1:after {
  background: $primary-color;
}

.bg-dark {
  background-color: #151314 !important;
  border-color: #151314 !important;
}

.bg-primary {
  background: $primary-color !important;
  border-color: $primary-color !important;
} 

.text-primary {
  color: $primary-color !important;
}

.icon-box-title {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.icon-sm-rounded {
  background: $primary-color !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", sans-serif;
}
