a.nav-link.dropdown-toggle {
  margin-top: -4px;
}

.bg-dark-gray {
  border-color: #231f20 !important;
  background-color: #231f20 !important;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:20.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.h250 {
  height: 250px;
}

#navigation {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 999;
}

.dropdown .dropdown-menu .dropdown-item, .mega-inner-nav > li > a {
  color: #4c4c4c;
}

.blockimg {
  width: 100%;
}

.cbp-pagination-item {
  height: 60px;

  img {
    height: 60px;
  }
}
